img {
    max-width: 100%;
    height: auto;
}

header {
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 35px;
}

.btn {
    background-color: transparent;
    color: #b4b4b4;
    font-family: 'Montserrat', serif;
    border: 2px solid rgba(127, 127, 127, 0.5);
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 30px;
}

.btn:hover {
    background: rgba(127, 127, 127, 0.5);
    color: #fff;
}

.clearfix {
    display: block;
    clear: both;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


/**NAV**/

nav.bm-nav {
    float: right;
}

.bm-nav .nav li {
    display: inline-block;
}

.bm-nav .nav li a {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}


/*HERO*/

#hero {
    max-height: 700px;
    overflow: hidden;
    position: relative;
}

.hero-text {
    position: absolute;
    top: 40%;
    color: #fff;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: center;
    width: 100%;
}

.hero-text span {
    display: block;
    font-size: 68px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

.hero-text a {
    color: #fff;
    text-decoration: underline;
}


/*STATS*/

#stats {
    text-align: center;
    padding: 40px 0;
}

#stats .title {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    color: #4F5050;
}

#stats .description {
    color: #4F5050;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    width: 50%;
    margin: auto;
}

.number-title {
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
}

.stat .counter,
.stat .number {
    font-size: 72px;
    color: #95AAB5;
    font-family: 'Playfair Display', serif;
}

#stats .stat .description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #AAA9A7;
    font-size: 12px;
    width: 85%;
}

.stat hr {
    width: 15%;
    border-top: 2px solid #91908D;
}

.stat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #AAA9A7;
    font-size: 12px;
}


/*WHO WE ARE*/

#blurb {
    padding: 120px 0;
}

.blurb-container {
    width: 60%;
    margin: auto;
    display: block;
    text-align: center;
    background: #EBE7E3;
    padding: 100px;
    position: relative;
}

#blurb .title {
    font-size: 36px;
    color: #4F5050;
    font-family: 'Playfair Display', serif;
}

#blurb .description {
    color: #4F5050;
    font-family: 'Montserrat', sans-serif;
    padding: 40px 0;
    font-size: 17px;
}

.line-top {
    border-left: 1px solid rgba(151, 151, 151, 0.5);
    height: 25%;
    position: absolute;
    top: -12%;
    left: 50%;
}

.line-bottom {
    border-left: 1px solid rgba(151, 151, 151, 0.5);
    height: 25%;
    position: absolute;
    bottom: -12%;
    left: 50%;
}


/*ACTION*/

#action {
    text-align: center;
    color: #b4b4b4;
    font-family: 'Montserrat', sans-serif;
    margin: 150px 0;
}

#action .title {
    font-size: 36px;
    color: #4F5050;
    font-family: 'Playfair Display', serif;
}

#action .cta {
    font-size: 10px;
    color: rgba(79, 80, 80, 0.5);
}

#action .content {
    font-size: 17px;
    color: rgba(79, 80, 80, 0.5);
    padding-bottom: 30px;
    width: 40%;
    margin: auto;
}

footer {
    height: 180px;
    background: #F5F3F1;
    margin-top: 40px;
}


/*MASONRY GRID*/

#masonry {
    text-align: center;
    color: #b4b4b4;
    font-family: 'Montserrat', sans-serif;
    margin: 100px 0 40px;
}

#masonry .title {
    font-size: 36px;
    color: #4F5050;
    font-family: 'Playfair Display', serif;
}

#masonry .cta {
    font-size: 10px;
    color: rgba(79, 80, 80, 0.5);
    text-transform: uppercase;
}

#masonry .content {
    font-size: 17px;
    color: rgba(79, 80, 80, 0.5);
    padding-bottom: 30px;
    width: 35%;
    margin: auto;
}

#stories-boxes1,
#stories-boxes2 {
    width: 100%;
    overflow: overlay;
}

.story-box {
    float: left;
    text-align: center;
    position: relative;
}

#stories-boxes1 .story-box {
    display: table-cell;
    vertical-align: bottom;
    float: none;
}

.story-box:nth-last-child(2) {
    text-align: right;
}

.story-box:nth-child(1) {
    text-align: left;
}

#stories-boxes1 .story-box .thumb {
    width: 100%;
}

#stories-boxes2 .story-box {
    float: left;
    text-align: center;
}

.story-box .play-button {
    width: 66px;
    height: 67px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -43px 0px 0px -43px;
}

#stories-boxes1 {
    margin-top: -50px;
    display: table;
}

.thumb {
    padding: 2%;
}

.story-box:nth-child(1) .thumb {
    padding-left: 0;
}

.story-box:nth-last-child(2) .thumb {
    padding-right: 0;
}

.mid {
    margin-top: 70px;
}

#stories-boxes1 .mid img {
    margin-bottom: -70px;
}

.story-box img {
    width: 100%;
}

.grid5 {
    width: 5%;
}

.grid7 {
    width: 7%;
}

.grid8 {
    width: 8%
}

.grid9 {
    width: 9%;
}

.grid10 {
    width: 10%;
}

.grid15 {
    width: 15%;
}

.grid18 {
    width: 18%;
}

.grid20 {
    width: 20%;
}

.grid21 {
    width: 21%;
}

.grid22 {
    width: 22%;
}

.grid23 {
    width: 23%;
}

.grid24 {
    width: 24%;
}

.grid30 {
    width: 30%;
}


/*PROJECT*/

#project .project-content {
    width: 45%;
    padding: 280px 0;
    float: right;
}

img.blueprint {
    position: absolute;
    z-index: 0;
    top: -15%;
    overflow: overlay;
}

img.building {
    position: absolute;
    top: 30%;
    left: 5%;
    overflow: hidden;
}

div#project {
    margin: 80px 0;
    background: #EBE7E3;
    position: relative;
}

@media screen and (max-width: 767px) {
    #stories-boxes1 .story-box {
        height: auto;
        float: left;
        width: 50%;
    }
    #stories-boxes2 .story-box {
        float: left;
        width: 50%;
    }
    #stories-boxes2 {
        margin-top: 0;
        overflow: visible;
        display: inline-block;
    }
    #stories-boxes1 {
        overflow: visible;
        display: inline-block;
    }
    #stories-boxes1 .story-box .thumb {
        position: static;
    }
    .mid {
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    #stories-boxes1 .story-box {
        height: auto;
        float: none;
        width: 100%;
        display: block;
    }
    #stories-boxes2 .story-box {
        float: none;
        width: 100%;
        display: block;
    }
}
